#!/bin/bash

# Skip updates as it may take too long..
# dnf -y upgrade
dnf -y install podman

IMAGE="${image}"
ARGS="${args}"
NAME="$${IMAGE##*/}"

podman create --name $NAME --pull=always --tty $IMAGE $ARGS
podman generate systemd --restart-policy=always --new --files --name $NAME

mv -Z ./container-$NAME.service /etc/systemd/system/

systemctl enable container-$NAME.service
systemctl start container-$NAME.service
